hr {
  border: none;
  height: 2px;
  background-color: #f9f9f9;
}

#top-section-container {
  display: flex;
  align-items: center;
}

#image-container {
  position: relative;
  float: left;
}

.homepage-image {
  position: relative;
  margin: 10px;
  display: block;
}
