#video-guide {
  display: block;
  margin: auto;
}

#info-video-link {
  display: none;
}

@media screen and (max-width: 650px) {
  #info-video-link {
    display: block;
  }

  #info-video-full {
    display: none;
  }
}

.PSS_download {
  padding-left: 3em;
  padding-bottom: 0.2em;
}
