.vacancy-table {
  width: 100%;
  border-collapse: collapse;
  padding: 1em 0;
}

.vacancy-table-left, .vacancy-table-right {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.vacancy-table-left {
  text-align: right;
  font-weight: bold;
  width: 10%;
  border-right: 2px solid #f5f5f5;
  vertical-align: top;
}

.vacancy-table-right {
  text-align: left;
  width: 50%;
}
