#COTM-container {
  text-align: center;
  font-size: 105%;
}

#COTM-table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
}

#COTM-table, td {
  border: 1px solid #f5f5f5;
}

td {
  padding: 1em;
}

#spacer {
  height: 1.5em;
}
