.logo-containers {
  float: left;
}

#page-header {
  display: inline-block;
}

#pet-logo-container {
  width: 50%;
}

#logo-pet {
  width: 100%;
  height: auto;
}

#other-logos-container {
  margin: 10px;
  float: right;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#logo-kcl, #logo-gcc, #logo-gstt {
  width: 100%;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #2B4295;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #71BD51;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #71BD51;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav-content a:hover {
  background-color: #64ac44;
}

.subnav:hover .subnav-content {
  display: block;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: block;
  }

  .subnav, .subnavbtn {
    padding: 0;
    width: 100%;
  }

  .subnavbtn, .navbar a {
    padding: 0.5em 0;
  }

  .subnav-content, .navbar a {
    text-align: center;
    width: 100%;
  }

  .navbar a {
    display: block;
  }
}
