.logo-containers {
  float: left;
}

#page-header {
  display: inline-block;
}

#pet-logo-container {
  width: 50%;
}

#logo-pet {
  width: 100%;
  height: auto;
}

#other-logos-container {
  margin: 10px;
  float: right;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#logo-kcl, #logo-gcc, #logo-gstt {
  width: 100%;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #2B4295;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #71BD51;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #71BD51;
  z-index: 1;
}

.subnav-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav-content a:hover {
  background-color: #64ac44;
}

.subnav-hover:hover .subnav-content {
  display: block;
}

.selected_button {
  background-color: #64ac44!important;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: block;
  }

  .navbar a {
    padding: 10px 0 10px 0;
  }

  .subnav, .subnavbtn, .navbar a {
    float: none;
    display: block;
    width: 100%;
    position: relative;
  }

  .subnav-content {
    width: 100%;
    position: relative;
  }

  .subnav-content a {
    text-align: center;
  }
  #menu-bar {
    display: flex;
    background-color: #2B4295;
    border: 2px solid black;
    justify-content: flex-end;
    padding: 0.5em;
  }

  #nav-container {
    display: none;
  }

  #hamburger-container {
    cursor: pointer;
  }

  #hbbar1, #hbbar2, #hbbar3 {
    width: 35px;
    height: 5px;
    background-color: #64ac44;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change #hbbar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change #hbbar2 {opacity: 0;}

  .change #hbbar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
